* {
  
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

input, label {
  display: block;
  margin: auto;
  margin-bottom: 8px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 16px;
}
